<div id='<%= link.id %>' class="read-<%= link.read %> idea">
  Link: <span class="edit"><%= link_to "Edit", edit_link_path(link) %></span>
  <ul>
    <li>TITLE: <span class="link-title"><%= link.title %></span></li>
    <li>URL: <span class="link-url"><%= link.url %></span></li>
    <li>READ: <span class="link-read"><%= link.read %></span>
      <% if link.read %>
       <span class="mark">mark as unread</span>
     <% else %>
      <span class="mark">mark as read</span>
    <% end %></li>
  </ul>
</div>
