<%= link_to "Sign Out", logout_path %>
<h1>Links Index Page</h1>
sup

<%= form_for @new_link, url: links_path , method: :post, html: {class: "new-link"} do |f| %>

<%= f.text_field :title, placeholder: "Title", class: "form-control input-md" %><br>

<%= f.text_field :url, placeholder: "Link", class: "form-control input-md" %><br>

<%= f.submit "Submit Link", class: "btn btn-md btn-primary" %>

<% end %>
