<%= link_to "Sign Out", logout_path %>
<h1>Links Index Page</h1>
sup
<div class="flash flash-notice"><%= raw(flash.notice) %></div>


<%= form_for @new_link, url: links_path , method: :post, html: {class: "new-link"} do |f| %>

<%= f.text_field :title, placeholder: "Title", class: "form-control input-md" %><br>

<%= f.text_field :url, placeholder: "Link", class: "form-control input-md" %><br>

<%= f.submit "Submit Link", class: "btn btn-md btn-primary" %>

<% end %>

<hr>
Search: <input placeholder="search" type="text" class="search">
Status: <span class="read-filter status-filter">Read</span> ||
<span class="unread-filter status-filter">Unread</span> ||
<span class="alpha-filter">Alphabet</span> ||
<span class="none-filter status-filter">None</span>
<hr>
<div class="ideas">
<%= render partial: "link", collection: @links %>
<div>
